<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title >Bienvenido{{saludo()}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="servUsuario.logueado.value">Usted es un {{this.servUsuario.el_usuario.perfil}}, desde esta aplicación puede:</p>
        <p *ngIf="!servUsuario.logueado.value">Gracias por elegirnos. Para utilizar nuestra aplicación debe <button (click)="navegar('/login')">iniciar sesión</button></p>
      </ion-card-content>
    </ion-card>
</ion-content>
